body{
    padding: 15px 0 0 0;
}

#footer{
    margin-top: 50px;
    padding: 20px 0;
}

.navbar .form-inline{
    float:left;
    overflow:hidden;
    margin:0;
}
.navbar .form-inline .btn{
    margin: 5px 10px 5px;
}

.table-clear{
    border:transparent;
}

.col2-spaced td{
    width: 175px;
}

.btn{
    margin-right:10px;
}

.hidden{
    display: none;
}

.table-clear{
    width: 100%;
}

.ideaTable tbody td{
    padding-bottom: 15px;
}

.ideaTable tbody tr{
    border-bottom: 1px solid #ddd;
}
.ideaTable tbody tr:last-child{
    border-bottom: transparent;
}

.ideameta{
    color: #666;
}